Model/obj/Model.csproj.nuget.dgspec.json
Model/obj/Model.csproj.nuget.g.props
Model/obj/Model.csproj.nuget.g.targets
Model/obj/project.assets.json
Model/obj/project.nuget.cache
Model/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Model/obj/Debug/net6.0/Model.AssemblyInfo.cs
Model/obj/Debug/net6.0/Model.AssemblyInfoInputs.cache
Model/obj/Debug/net6.0/Model.assets.cache
Model/obj/Debug/net6.0/Model.csproj.AssemblyReference.cache
Model/obj/Debug/net6.0/Model.csproj.FileListAbsolute.txt
Model/obj/Debug/net6.0/Model.GeneratedMSBuildEditorConfig.editorconfig
Model/obj/Debug/net6.0/Model.GlobalUsings.g.cs
Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
Tests/bin/Debug/net6.0/nunit_random_seed.tmp
Tests/obj/project.assets.json
Tests/obj/project.nuget.cache
Tests/obj/Tests.csproj.nuget.dgspec.json
Tests/obj/Tests.csproj.nuget.g.props
Tests/obj/Tests.csproj.nuget.g.targets
Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Tests/obj/Debug/net6.0/Tests.AssemblyInfo.cs
Tests/obj/Debug/net6.0/Tests.AssemblyInfoInputs.cache
Tests/obj/Debug/net6.0/Tests.assets.cache
Tests/obj/Debug/net6.0/Tests.csproj.AssemblyReference.cache
Tests/obj/Debug/net6.0/Tests.csproj.FileListAbsolute.txt
Tests/obj/Debug/net6.0/Tests.GeneratedMSBuildEditorConfig.editorconfig
Tests/obj/Debug/net6.0/Tests.GlobalUsings.g.cs
